@model IEnumerable<StreamsManage.Models.LinkModel>

@{
    ViewData["Title"] = "Meus Links";
}

<h1>Meus links</h1>



<div class="card">
  <div class="card-header">Seus streamers</div>
  <div class="card-body">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>

      <table class="table table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody id="myTable">
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
  </div>
  <div class="card-footer">
      <i class="fa fa-plus"></i>
  </div>
</div>
